<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bragitoff.curvefit_leastsquares">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".Choose_fit"
            android:label="Choose Fit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Linear_Fit"
            android:configChanges="orientation|screenSize"
            android:label="Linear Fit"
            android:parentActivityName=".Choose_fit" />
        <activity
            android:name=".Expo_Fit"
            android:configChanges="orientation|screenSize"
            android:label="Exponential Fit"
            android:parentActivityName=".Choose_fit" />
        <activity
            android:name=".Poly_Fit"
            android:configChanges="orientation|screenSize"
            android:label="Polynomial Fit"
            android:parentActivityName=".Choose_fit" />
        <activity
            android:name=".Help"
            android:label="Help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>